**/.DS_Store
**/.dockerignore
**/.git
**/.gitignore
**/.github
**/.vscode
**/docker-compose*
**/compose*
**/Dockerfile*
**/npm-debug.log
**/node_modules
./start
README.md
./smash
logs/
data/
sql/
.env
.env.*